<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829645053195-ktnq6sd8pe5teohr2vgsnef78fir7iql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829645053195-ktnq6sd8pe5teohr2vgsnef78fir7iql</string>
	<key>API_KEY</key>
	<string>AIzaSyAYpy140m6MZQI0IN4ZOsgNwvDSXiNkAwA</string>
	<key>GCM_SENDER_ID</key>
	<string>829645053195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nas</string>
	<key>PROJECT_ID</key>
	<string>nas1-41450</string>
	<key>STORAGE_BUCKET</key>
	<string>nas1-41450.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829645053195:ios:45da43dadfeb89f926d60e</string>
	<key>DATABASE_URL</key>
	<string>https://nas1-41450-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>